<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyectoo">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyectoo"
        tools:targetApi="31">

        <!-- Actividades -->
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".RegistroActivity" android:exported="true" />
        <activity android:name=".CrearListaActivity" android:exported="true" />
        <activity android:name=".ListaDetalleActivity" android:exported="true" />
        <activity android:name=".CrearProductoActivity" android:exported="true" />
        <activity android:name=".CategoriaActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- Pantalla de Bienvenida (inicial) -->
        <activity android:name=".BienvenidaActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
